# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
ENV/
.venv/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
*.log


# Distribution / packaging
dist/
build/
*.egg-info/
*pytest_cache/
del/